/* main structure */
.task-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* text field */
.task-input {
  width: 350px;
  font-size: 18px;
  background-color: #f3f3f3;
  padding: 14px 32px 14px 16px;
  border-radius: 26px 0 0 26px;
  border: 2.5px solid #3d9c75;
  outline: none;
}

/* button add */
.task-button {
  padding: 16px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 0 26px 26px 0;
  cursor: pointer;
  outline: none;
  background: #3d9c75;
  color: #f3f3f3;
  text-transform: capitalize;
}