.task-container {
  width: 500px;
  min-height: 65px;
  background-color: #1b1b32;
  margin: 5px 0;
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 26px;
  border: 1px solid #f3f3f3;
  cursor: pointer;
  color: #f3f3f3;
}

.task-text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  /* this cuts the texts and make them got to the next line*/
  overflow-wrap: anywhere;  
}

.task-icon {
  width: 25px;
  height: 25px;
  margin: 5px;
}

/* task completed */

.task-container.completed {
  background-color: #605f61;
  text-decoration: line-through;
}